/*Here are some frequently used colors, which is saved in a single file, and we used by using this syntax
color: var(--'name of the color variable ) */

:root {
  --button-color: #34a5ab;
  --background-color: #edfffe;
  --text-color: #233637;
}
