// ALL THE @INCLUDE TAGS ARE THE RESPONSIVE CODE

//contact me section
.contact {
  background-color: var(--background-color);
  & form {
    color: var(--text-color);
    margin-bottom: 2rem;
  }
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: comfortaa;
  justify-content: center;
  align-items: center;
  //heading of the contact me section
  &-heading {
    margin-bottom: 2rem;
    color: var(--text-color);
    font-family: oswald;
    font-size: 2.5rem;

    @include change(tab-land) {
      margin-top: 4rem;
      font-size: 2.8rem;
    }
    @include change(tab-port) {
      margin-top: 4rem;
      font-size: 2.6rem;
    }
  }
  //USing formss
  &_fnameClass {
    //name
    @include change(tab-land) {
      font-size: 1.4rem;
    }
    &_input {
      background-color: #d3fafd;
      margin-top: 1rem;
      padding: 1rem 10rem 1rem 1rem;
      margin-bottom: 1rem;
      border: none;
      border-radius: 5px;
      outline: none;

      &::placeholder {
        font-size: 1rem;
        font-family: comfortaa;

        @include change(tab-land) {
          font-size: 1.3rem;
        }

        @include change(tab-port) {
          font-size: 1.3rem;
        }
      }
    }
  }

  &_email {
    //email
    padding-bottom: 10rem;

    @include change(tab-land) {
      font-size: 1.4rem;
    }
    &_input {
      background-color: #d5f5f7;
      margin-top: 1rem;
      padding: 1rem 10rem 1rem 1rem;
      border: none;
      border-radius: 5px;
      outline: none;
      &::placeholder {
        font-size: 1rem;
        font-family: comfortaa;

        @include change(tab-land) {
          font-size: 1.3rem;
        }
        @include change(tab-port) {
          font-size: 1.3rem;
        }
      }
    }
  }

  &_message {
    //message
    margin-bottom: 3rem;

    @include change(tab-land) {
      font-size: 1.4rem;
    }

    &_input {
      background-color: #d5f5f7;
      margin-top: 1rem;
      padding: 1rem 10rem 9rem 1rem;
      border: none;
      border-radius: 5px;
      outline: none;

      &::placeholder {
        font-size: 1rem;
        font-family: comfortaa;

        @include change(tab-land) {
          font-size: 1.3rem;
        }
        @include change(tab-port) {
          font-size: 1.3rem;
        }
      }
    }
  }
  @include change(tab-land) {
    margin-top: 10rem;
    height: 100%;
  }
  @include change(tab-port) {
    margin-top: 10rem;
    height: 100%;
  }
}
